<%- include('partials/layout', { title: 'Department List' }) %>

<div class="container mt-5">
  <h3>Departments</h3>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody id="departmentTable">
      <!-- Department rows will be dynamically populated here -->
    </tbody>
  </table>

  <a href="/add-department" class="btn btn-success mb-3">Add New Department</a>
</div>

<script>
  // Employee fetching and actions
  document.addEventListener("DOMContentLoaded", function () {
    fetchDepartments();
  });

  function fetchDepartments() {
    fetch("/api/departments")
      .then((response) => response.json())
      .then((data) => {
        console.log("departments:", data);
        const table = document.getElementById("departmentTable");
        table.innerHTML = "";
        data.forEach((dept) => {
          const row = `
          <tr>
            <td>${dept.name}</td>
            <td>
              <button class="btn btn-warning" onclick="editEmployee('${dept._id}')">Edit</button>
              <button class="btn btn-danger" onclick="deleteEmployee('${dept._id}')">Delete</button>
            </td>
          </tr>
        `;
          table.innerHTML += row;
        });
      })
      .catch((err) => console.error("Error fetching departments:", err));
  }

  function editDept(id) {
    fetch(`/api/departments/${id}`, { method: "PUT" })
      .then((response) => response.json())
      .then((data) => {
        document.getElementById("departmentName").value = data.name;
        document.getElementById("employeeDepartment").value =
          data.department._id;
        document.getElementById("employeeForm").dataset.id = data._id;
      })
      .catch((err) => console.error("Error editing employee:", err));
  }

  function deleteEmployee(id) {
    fetch(`/api/employees/${id}`, { method: "DELETE" })
      .then(() => {
        fetchEmployees();
      })
      .catch((err) => console.error("Error deleting employee:", err));
  }
</script>
