<%- include('partials/layout', { title: 'Staffs by Department' }) %>

<div class="container mt-5">
  <div class="d-flex mb-2 justify-content-between">
    <h3>Staffs By Department</h3>
  </div>

  <table id="staffTable" class="text-center table">
    <thead>
      <tr id="departmentHeaders"></tr>
    </thead>
    <tbody id="employeeRows"></tbody>
  </table>

  <footer class="bg-light text-center py-3 mt-5">
    <p>&copy; 2025 Apollonia Dental Practice</p>
  </footer>
</div>

<script type="text/javascript" src="/public/scripts/staffs"></script>
